/* menu */
div.main-menu ul
{
background: black;
display: block;
clear: both;
list-style-type: none;
height: 50px;
}

div.main-menu ul li
{
float: left;
}

div.main-menu li a
{
display: block;
margin-left: 20px;
}

div.main-menu li.link_biography a
{
width: 91px;
height: 29px;
margin-top: 10px;
background: url(../images/biography.png) 0 0 no-repeat;
}

div.main-menu li.link_biography a:hover
{
background: url(../images/biography.png) 0 -29px no-repeat;
}

div.main-menu li.link_gallery a
{
width: 65px;
height: 29px;
margin-top: 10px;
background: url(../images/gallery.png) 0 0 no-repeat;
}

div.main-menu li.link_gallery a:hover
{
background: url(../images/gallery.png) 0 -29px no-repeat;
}

div.main-menu li.link_repertoire a
{
width: 91px;
height: 26px;
margin-top: 13px;
background: url(../images/repertoire.png) 0 0 no-repeat;
}

div.main-menu li.link_repertoire a:hover
{
background: url(../images/repertoire.png) 0 -26px no-repeat;
}

div.main-menu li.link_multimedia a
{
width: 102px;
height: 22px;
margin-top: 10px;
background: url(../images/multimedia.png) 0 0 no-repeat;
}

div.main-menu li.link_multimedia a:hover
{
background: url(../images/multimedia.png) 0 -22px no-repeat;
}

div.main-menu li.link_calendar a
{
width: 83px;
height: 22px;
margin-top: 10px;
background: url(../images/calendar.png) 0 0 no-repeat;
}

div.main-menu li.link_calendar a:hover
{
background: url(../images/calendar.png) 0 -22px no-repeat;
}

div.main-menu li.link_press a
{
width: 49px;
height: 19px;
margin-top: 13px;
background: url(../images/press.png) 0 0 no-repeat;
}

div.main-menu li.link_press a:hover
{
background: url(../images/press.png) 0 -19px no-repeat;
}

div.main-menu li.link_contact a
{
width: 72px;
height: 19px;
margin-top: 13px;
background: url(../images/contact.png) 0 0 no-repeat;
}

div.main-menu li.link_contact a:hover
{
background: url(../images/contact.png) 0 -19px no-repeat;
}